$primary-green: rgba(35, 109, 35, 0.801);
$grass-color: #9bcc50;
$primary-purple: #5e0f5e;
$fire-color: rgb(240, 128, 48);
$normal-color: rgb(104, 104, 104);
$fighting-color: rgb(255, 177, 122);
$flying-color: rgb(164, 244, 255);
$ground-color: rgb(95, 48, 14);
$rock-color: rgb(48, 48, 48);
$bug-color: rgb(79, 109, 82);
$ghost-color: rgb(219, 57, 219);
$steel-color: rgb(161, 161, 161);
$water-color: rgb(21, 142, 255);
$electric-color: #eed535;
$psychic-color: rgb(158, 103, 77);
$ice-color: rgb(73, 255, 231);
$dragon-color: rgb(160, 52, 52);
$dark-color: rgb(0, 0, 0);
$fairy-color: rgb(103, 189, 146);
$unknown-color: rgb(255, 213, 213);
$shadow-color: rgb(20, 16, 56);

.card {
  width: 12rem auto;
  background: #444;
  color: white;
  padding: 1.8rem;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  justify-content: space-between;
  align-items: center;

  .favorite-icon {
    margin-top: -2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
      top: 0;
      left: 0;
    i {
      transition: 200ms;
      font-size: 2rem;
      &:hover {
        color: rgb(2, 48, 133);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(2, 48, 133);
        transform: rotate(270deg);
        cursor: pointer;
      }
    }
  }

}

.card--id {
  width: 3rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  border-radius: 0 0 10px 0;
  top: 0;
  left: 0;
}

.card--name {
  text-transform: capitalize;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;

}

.card--image {
  margin-top: 100px;
  width: 200px;
  //display: block;
  display: block;
  margin: auto;
}

.card--details {
  font-size: 1rem;
  color: rgb(255, 255, 255);;
  display: flex;
  justify-content: space-between; 
}

.type--badge {
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  padding: 1px 20px;
  margin-right: 10px;
  font-size: 0.7rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  text-align: center;

  &.poison {
    background: $primary-purple;
    color: white;
  }

  &.grass {
    background: $primary-green;
  }
  &.fire {
    background: $fire-color;
    color: black;
  }
  &.normal {
    background: $normal-color;
  }
  &.fighting {
    background: $fighting-color;
  }
  &.flying {
    background: $flying-color;
    color: black;
  }
  &.ground {
    background: $ground-color;
  }
  &.rock {
    background: $rock-color;
  }
  &.bug {
    background: $bug-color;
  }
  &.ghost {
    background: $ghost-color;
  }
  &.steel {
    background: $steel-color;
  }
  &.water {
    background: $water-color;
  }
  &.electric {
    background: $electric-color;
    color: black;
  }
  &.psychic {
    background: $psychic-color;
  }
  &.ice {
    background: $ice-color;
  }
  &.dragon {
    background: $dragon-color;
  }
  &.dark {
    background: $dark-color;
  }
  &.fairy {
    background: $fairy-color;
  }
  &.unknown {
    background: $unknown-color;
  }
  &.shadow {
    background: $shadow-color;
  }
}

.type-background {
  &.poison {
    background: linear-gradient(130deg, rgba(154, 48, 240, 0.89) 0%, rgb(160, 64, 16) 100%);
  }

  &.grass {
    background: linear-gradient(130deg, rgb(120, 200, 80) 0%, rgb(160, 64, 16) 100%);
  }

  &.fire {
    background: linear-gradient(130deg, rgba(240, 128, 48, 0.89) 0%, rgb(160, 64, 16) 100%);
  }

  &.normal {
    background: linear-gradient(130deg, rgba(104, 104, 104, 0.89) 0%, rgb(219, 219, 219) 100%);
  }
  &.fighting {
    background: linear-gradient(130deg, rgba(255, 177, 122, 0.89) 0%, rgba(59, 54, 25, 0.774) 100%);
  }
  &.flying {
    background: linear-gradient(130deg, rgba(164, 244, 255, 0.89) 0%, rgb(204, 204, 204) 100%);
  }
  &.ground {
    background: linear-gradient(130deg, rgba(95, 48, 14, 0.89) 0%, rgb(187, 136, 41) 100%);
  }
  &.rock {
    background: linear-gradient(130deg, rgba(48, 48, 48, 0.89) 0%, rgb(155, 155, 155) 100%);
  }
  &.bug {
    background: linear-gradient(130deg, rgba(79, 109, 82, 0.89) 0%, rgb(104, 70, 51) 100%);
  }
  &.ghost {
    background: linear-gradient(130deg, rgba(243, 243, 243, 0.89) 0%, rgb(219, 57, 219) 100%);
    color: black;
  }
  &.steel {
    background: linear-gradient(130deg, rgba(161, 161, 161, 0.89) 0%, rgb(90, 90, 90) 100%);
  }

  &.water {
    background: linear-gradient(130deg, rgba(21, 142, 255, 0.89) 0%, rgb(19, 255, 243) 100%);
  }
  &.electric {
    background: linear-gradient(130deg, rgba(255, 225, 55, 0.89) 0%, #eed535 100%);
  }
  &.psychic {
    background: linear-gradient(130deg, rgba(158, 103, 77, 0.89) 0%, rgb(219, 172, 141) 100%);
  }
  &.ice {
    background: linear-gradient(130deg, rgba(73, 255, 231, 0.89) 0%, rgb(0, 133, 126) 100%);
  }
  &.dragon {
    background: linear-gradient(130deg, rgba(160, 52, 52, 0.89) 0%, rgb(58, 94, 55) 100%);
  }
  &.dark {
    background: linear-gradient(130deg, rgba(0, 0, 0, 0.89) 0%, rgb(58, 7, 58) 100%);
  }
  &.fairy {
    background: linear-gradient(130deg, rgba(103, 189, 146, 0.89) 0%, rgb(209, 142, 209) 100%);
  }
  &.unknown {
    background: linear-gradient(130deg, rgba(255, 213, 213, 0.89) 0%, rgb(124, 124, 124) 100%);
  }
  &.shadow {
    background: linear-gradient(130deg, rgba(20, 16, 56, 0.89) 0%, rgb(40, 22, 87) 100%);
  }
}