<div class="card type-background {{this.type}}">
  <div>
    <span class="card--id">#{{this.pokemon.id}}</span>
    <div>
      <span *ngFor="let type of this.pokemon.types" class="type--badge {{type.type.name}}">{{type.type.name | uppercase}}</span>
    </div>
  </div>


  <img class="card--image"
  [src]="this.getArt()"
    [alt]="this.pokemon.name" />
  <h1 class="card--name">{{this.name}}</h1>

  <div class="card--details">
    <span>
      <strong>Altura:</strong> {{this.height}}m
    </span>
    <span>
      <p></p>
      <strong>Peso:</strong> {{this.weight}}kg 
    </span>
  </div>

</div>