<header style="display: flex;">
    <h1>Pokédex</h1>
</header>
  
<form [formGroup] = "checkoutForm" (ngSubmit)="onSubmit()">
    <section class="search-bar">
      <input type="search" id ="name" formControlName="name">
      <button class="search-btn" type="submit"></button>
    </section>
  </form>
    
    <section id="content">
        <app-card 
        [pokemon]="this.pokemon" 
        [type]="this.pokemon.types[0].type.name"
        (addToFavorites)="addToFavorites($event)">
        </app-card>
    </section>
  
    <section class="favoritos">
      <h2>Favoritos</h2>
      <div class="favoritos-wrapper">
        <app-history-card 
        *ngFor="let poke of this.fav" 
        [pokemon]="poke" 
        [isFavorite]="true"
        (removeFromFavorites)="removeFromFavorites($event)"
        (viewPokemon)="viewPokemon($event)"
        ></app-history-card>
      </div>
    </section>
    <section class="options-section">
      <div class="options">
        <div>
          <button (click)="cleanFavorites()">Limpar os Favoritos</button>
        </div>
      </div>
    </section>

    <section class="history">
      <h2>Histórico de busca</h2>
  
      <div class="history-wrapper">
        <app-history-card *ngFor="let poke of this.history" [pokemon]="poke"
        
        (viewPokemon)="viewPokemon($event)"
        ></app-history-card>
      </div>
  
    </section>
    <section class="options-section">
      <div class="options">
        <div>
          <button (click)="cleanHistory()">Limpar Histórico</button>
        </div>
      </div>
    </section>