<div class="card-history-container card-color {{this.pokemon.types[0].type.name}}"
(click)="view()">

    <div class="image-container">
        <img  [src]="this.getSprite()"
        [alt]="this.pokemon.name">
    </div>
    <div class="data ">
        <div class="remove-from-favorites-container"
        *ngIf="this.isFavorite"
        (click)="remove()"
        >
          <i class='bx bxs-star'></i>
        </div>
        <p>
            <strong>#{{this.pokemon.id}}</strong>
            </p>
        <h4>
            <strong>{{this.pokemon.name | titlecase}}</strong>
        </h4>
    </div>
</div>