$primary-green: rgba(35, 109, 35, 0.801);
$grass-color: #9bcc50;
$primary-purple: #5e0f5e;
$fire-color: rgb(240, 128, 48);
$normal-color: rgb(104, 104, 104);
$fighting-color: rgb(255, 177, 122);
$flying-color: rgb(164, 244, 255);
$ground-color: rgb(95, 48, 14);
$rock-color: rgb(48, 48, 48);
$bug-color: rgb(79, 109, 82);
$ghost-color: rgb(243, 243, 243);
$steel-color: rgb(161, 161, 161);
$water-color: rgb(21, 142, 255);
$electric-color: #eed535;
$psychic-color: rgb(158, 103, 77);
$ice-color: rgb(73, 255, 231);
$dragon-color: rgb(160, 52, 52);
$dark-color: rgb(0, 0, 0);
$fairy-color: rgb(103, 189, 146);
$unknown-color: rgb(255, 213, 213);
$shadow-color: rgb(20, 16, 56);

.card-history-container {
  height: 150px;
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  overflow: hidden;

  .image-container {
    z-index: 10;
    height: 150px;
    img{
      height: 100%;
      transform: translateX(-5px);
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
      font-size: 16px;
    }
  }

  &.poison {
    background: $primary-purple;
    color: white;
  }

  &.grass {
    background: $primary-green;
  }
  &.fire {
    background: $fire-color;
    color: black;
  }
  &.normal {
    background: $normal-color;
  }
  &.fighting {
    background: $fighting-color;
  }
  &.flying {
    background: $flying-color;
    color: black;
  }
  &.ground {
    background: $ground-color;
  }
  &.rock {
    background: $rock-color;
  }
  &.bug {
    background: $bug-color;
  }
  &.ghost {
    background: $ghost-color;
  }
  &.steel {
    background: $steel-color;
  }
  &.water {
    background: $water-color;
  }
  &.electric {
    background: $electric-color;
    color: black;
  }
  &.psychic {
    background: $psychic-color;
  }
  &.ice {
    background: $ice-color;
  }
  &.dragon {
    background: $dragon-color;
  }
  &.dark {
    background: $dark-color;
    color: white;
  }
  &.fairy {
    background: $fairy-color;
  }
  &.unknown {
    background: $unknown-color;
  }
  &.shadow {
    background: $shadow-color;
  }
}
