h4{
  font-weight: bolder;
  margin-left:  -2rem;
}
.card-history-container {
  height: 200px;
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  overflow: hidden;
  &hover{
    cursor: pointer;
  }

  .image-container {
    z-index: 20;
    height: 200px;
    img{
      height: 100%;
      //transform: translateX(-30px);
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
      font-size: 16px;
    }
    .remove-from-favorites-container{
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px 10px 0  0 ;
      i{
        font-size: 2rem;
        color: red;
        &:hover{
          color: black;
          cursor: pointer;
        }
      }
    }
  }

  
}