<main>
  <header>
    <h1>Pokédex</h1>
  </header>

  <section class="search-bar">
    <input type="text" name="" id ="" [(ngModel)]="pokemonName">
    <button class="search-btn" (click)="find()">
    </button>
  </section>

  <section id="content">
    <div id="app">
      <app-card [pokemon]="this.pokemon" [type]="this.pokemon.types[0].type.name"></app-card>
    </div>
  </section>

  <section>
    <div>
      <button class="fav like-button" (click)= "saveFav(this.pokemon)">
      </button>
    </div>
  </section>

  <section class="history">
    <h2>Histórico de busca</h2>

    <div class="history-wrapper">
      <app-history-card *ngFor="let poke of this.history" [pokemon]="poke"></app-history-card>
    </div>

    
  </section>
  <section class="options-section">
    <div class="options">
      <div>
        <button (click)="cleanHistory()">Limpar Histórico</button>
      </div>
    </div>
  </section>

  <section>
    <div class="favorites">
      <h2>Favoritos</h2>
      <div class="favorites-wrapper">
        <app-fav-card *ngFor="let poke of this.fav" [pokemon]="poke"></app-fav-card>
      </div>
    </div>
  </section>

</main>
