$white: #fff !default;
$black: #000 !default;
$red: #E30303 !default;
$orange: #fb5f11 !default;
$geekorange: #FC9E70 !default;
$gold: #ffc107 !default;
$green: #52c41a !default;
$blue: #11B1FF !default;
$cyan: #00c9a7 !default;
$purple: #886cff !default;
$magenta: #eb2f96 !default;
$volcano: #fa541c !default;
$lime: #a0d911 !default;
$geekblue: #7D94F0 !default;
$darkblue: #021529 !default;
$mediumblue: #008FD4 !default;
$softorange: #fb5f111a !default;
$softgreen: #CCEBDF !default;
$softblue: #7D94F0 !default;
$darkgreen: #029C60!default;
$darkpurple: #653796 !default;

$primary-green: rgba(35, 109, 35, 0.801);
$primary-purple: #5e0f5e;
$fire-color: rgb(240, 128, 48);
$normal-color: rgb(104, 104, 104);
$fighting-color: rgb(255, 177, 122);
$flying-color: rgb(164, 244, 255);
$ground-color: rgb(95, 48, 14);
$rock-color: rgb(48, 48, 48);
$bug-color: rgb(79, 109, 82);
$ghost-color: rgb(243, 243, 243);
$steel-color: rgb(161, 161, 161);
$water-color: rgb(21, 142, 255);
$electric-color: rgb(255, 225, 55);
$psychic-color: rgb(158, 103, 77);
$ice-color: rgb(73, 255, 231);
$dragon-color: rgb(160, 52, 52);
$dark-color: rgb(0, 0, 0);
$fairy-color: rgb(103, 189, 146);
$unknown-color: rgb(255, 213, 213);
$shadow-color: rgb(20, 16, 56);
